@media screen and (min-width: 79em) {
  .has-sidebar .entry-content blockquote.alignleft {
    margin-left: -20%;
  }
  .blog:not(.has-sidebar) .entry-content blockquote.alignright, .archive:not(.has-sidebar) .entry-content blockquote.alignright, .page-two-column .entry-content blockquote.alignright, .twentyseventeen-front-page .entry-content blockquote.alignright {
    margin-right: -20%;
  }

  .has-header-image.twentyseventeen-front-page .site-branding, .has-header-video.twentyseventeen-front-page .site-branding, .has-header-image.home.blog .site-branding, .has-header-video.home.blog .site-branding {

    top: 50px;

  }

}