/*--------------------------------------------------------------
13.5 Pages
--------------------------------------------------------------*/

.page-header {
  padding-bottom: 2em;
}

.page .entry-header .edit-link {
  font-size: 14px;
  font-size: 0.875rem;
}

.search .page .entry-header .edit-link {
  font-size: 11px;
  font-size: 0.6875rem;

}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.page:not(.home) #content {
  padding-bottom: 1.5em;
}

/* 404 page */

.error404 .page-content {
  padding-bottom: 4em;
  .search-form {
    margin-bottom: 3em;
  }
}

.search .page-content .search-form {
  margin-bottom: 3em;
}

.contact-form textarea,.contact-form input[type="text"], .contact-form input[type="email"]{
  width:100% !important;
  max-width:100% !important;
}

/*bilety*/

.tix-js{

  form{

    input[type="submit"]{

      background: $box-color-4;
      text-transform: uppercase;
      font-weight: normal;

      &:hover{

        background: lighten($box-color-4, 4%);

      }

    }

    #tix-coupon-container{

      #tix-coupon-input{

        width: 40%;
        float: right;
        
      }

      input[type="submit"]{


        background: $blue1;
        font-size: 12px;
        padding: 7px 12px;
        float:right;
        clear: both;
        margin-top: 5px;

        &:hover{

          background: lighten($blue1, 5%)

        }

      }

    }

  }

  .tix-column-quantity{

    select{

      padding-left: 5px;
      min-width: 48px;
      height: 2.3em;

    }

  }

  .tix-ticket-excerpt{

    font-size: 15px;
    line-height: 1.4;
    display: block;

  }

  th.tix-column-description{

    text-indent: -3000px;
    overflow: hidden;

  }

  .tix-column-price{

    font-weight: bold;

  }

  td.tix-column-remaining{

    text-align: center;
    color: $box-color-4;

  }

}

/*Kalendarz wordupów*/

.page-slug-kalendarz-wordupow{

  .site-content{

    .wrap{

      max-width: 1170px;

      .entry-content{

        iframe{

          width: 100%;
          max-width: 100%;

        }

      }

    }

  }

}

.page-slug-uczestnicy{

  .site-content {

    .wrap {

      max-width: 1170px;





    }

  }

  #tix-attendees{

    .tix-attendee-list{

      padding-left: 0;

      &.tix-columns-3{

        width: 100%;

        img{

          width: 90px;
          height: 90px;

        }

        li{

          margin-bottom: 30px;
          width: 25%;


        }

      }

      .tix-field{

        margin-left: 105px;

      }


    }

  }




}

/*organizatorzy*/

.wcorg-organizers{

  .wcorg-organizer{


    .wcorg-organizer-description{

      position: relative;
      padding-left: 120px;
      padding-bottom: 30px;
      min-height: 140px;

      p:last-child{

        margin-bottom: 0;

      }

      .avatar{

        margin-right: 25px;
        width: 96px;
        height: 96px;
        position: absolute;
        left: 0;
        top: 10px;

      }

    }


  }

}

/*Dla sponsorów*/

.page-slug-zostan-sponsorem,
.page-id-1242{

  .site-content {

    .wrap {

      max-width: 1170px;

    }

  }

}

/*Prelekcje*/

.page-slug-1867{

  .site-content {

    .wrap {

      max-width: 1170px;

    }

  }

}

.wcpt-schedule{

  font-size: 14px;

  .wcpt-col-time{

    width: 4%;

  }

  .wcpt-col-track{

    width: 32%;
  }

  .wcpt-time{

    font-weight: bold;

  }

  td{

    padding: .07em 0.7em;

  }

  .wcpt-session-speakers{

    clear: both;
    display: block;

    a{


      font-style: italic;
      color: #c02942;
      font-size: 13px;

    }
  }



  [class*=wcb-session-warsztaty-]{

    background: rgba(255, 199, 64, 0.45);

  }



  .wcpt-session-type-custom{
    font-weight: bold;
    text-align: center;
    height: 50px;
  }

}

/*dla wszystkich*/

.wcb-speaker-magdalena-paciorek.wcb-speaker-jakub-milczarek,
.wcb-speaker-maciej-swoboda,
.wcb-speaker-kasia-swiderska,
.wcb-speaker-aleksander-kuczek,
.wcb-speaker-adam-czajczyk,
.wcb-speaker-arek-steplowski,
.wcb-speaker-kamil-porembinski,
.wcb-speaker-ewa-karaszkiewicz,
.wcb-speaker-gienia-malenia,
.wcb-speaker-magdalena-gorecka,
.wcb-speaker-karol-trybulski,
.wcb-speaker-olexij-fedorov,
.wcb-speaker-tomasz-kolkiewicz,
.wcb-speaker-maria-gorska,
.wcb-speaker-rafal-tomal,
.wcb-speaker-bartosz-bilicki{

  background: rgba(0, 111, 153, 0.18);


}

/* dla blogerow*/

.wcb-speaker-bartosz-romanowski,
.wcb-speaker-ola-gosciniak,
.wcb-speaker-tomasz-palak,
.wcb-speaker-lukasz-badziak{

  background: #c6e2ba;

}

/* dla programistow*/

.wcb-speaker-tomasz-dziuda,
.wcb-speaker-rafal-osinski,
.wcb-speaker-michal-strzesniewski,
.wcb-speaker-piotr-niewiadomski,
.wcb-speaker-marcin-bot,
.wcb-speaker-daniel-wlazlak,
.wcb-speaker-marcin-pietrzak,
.wcb-speaker-krzysztof-drozdz,
.wcb-speaker-lukasz-wilczak,
.wcb-speaker-szymon-kadzielawa{

  background: rgba(192, 41, 66, 0.32);

}